.invisible-background-color {

    background-color: white;
    opacity: 0;

}



.ui.borderless.socialmedia.menu {

    box-shadow: none;

    border: none;

    border-radius: 0px;

    margin: 0px;

    background-color: orchid;

}



.ui.borderless.topmenu.menu {

    box-shadow: none;

    border: none;

    border-radius: 0px;

    margin: 0px;

    padding-top: 20px;

    padding-bottom: 20px;


}



.ui.icon.menu .item {

    color: white;

}



.background {

    background-size: cover;

}

